@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Poppins:wght@100&family=Quicksand&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}