@import '../../styles/variables.scss';

.days{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background: $lite-background;
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
}

.card{
  width: 149px;
  display: flex;
  flex-direction: column;
  background: rgba(71, 147, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  transition: .2s linear;
  cursor: pointer;
  &:hover{
    background: rgba(184, 214, 255, 0.884);
  }
  .day{
    margin-bottom: 7px;
    font-size: 18px;
  }
  .day_info{
    font-size: 14px;
    margin-bottom: 12px;
    color: $lite-gray;
  }
  .img{
    margin-bottom: 12px;
  }
  .temp_day{
    font-size: 18px;
  }
  .temp_night{
    font-size: 13px;
    color: $lite-gray;
    margin-bottom: 6px;
  }
  .temp_info{
    font-size: 13px;
    color: $lite-gray;
  }
}