@import '../../styles/variables.scss';

.this_day_info{
  position: relative;
  max-width: 750px;
  width: 100%;
  padding: 40px;
  background: $lite-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  .cloud_img{
    position: absolute;
    top: 0;
    right: 0;
  }
}

.item{
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
  z-index: 1;
  &:last-of-type {
    margin-bottom: 0;
  }
  .indicator{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
  }
  .indicator_name,
  .indicator_value{
    font-size: 14px;
  }
  .indicator_name{
    color: $lite-gray;
  }
  .indicator_value{
    color: #000;
  }
}